html, body {
    margin: 0;
    background-color: #D9D9D9;
    font-family: 'Bebas Neue', 'cursive';
    color: white;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  transition: 1s ease;
}

::-webkit-scrollbar-track {
  background: #030504;
}

::-webkit-scrollbar-thumb {
  background: #a9151c;
}

::-webkit-scrollbar-thumb:hover {
  width: 15px;
}




/* Main */

#main {
  height: 100vh;
  width: 100%;
  background-color: #030504;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}



/* Popcorn */

.popcorn {
  width: 50px;
} 

#p1 {
  position: relative;
  top: 450px;
  left: 250px
}

#p2 {
  position: relative;
  top: 250px;
  right: -1550px
}

#p3 {
  position: relative;
  top: 350px;
  left: 450px
}

#p4 {
  position: relative;
  top: 150px;
  right: -1100px
}

#p5 {
  position: relative;
  top: 800px;
  left: 450px
}

#p6 {
  position: relative;
  top: 750px;
  right: -1500px
}

#p7 {
  position: relative;
  top: 100px;
  left: 50px
}

#p8 {
  position: relative;
  top: 750px;
  right: -800px
}

#p9 {
  position: relative;
  top: 100px;
  left: 250px
}

#p10 {
  position: relative;
  top: 550px;
  right: -800px
}


/* Sign in and sign up */

#signIn {
  align-self: flex-end;
  margin-right: 8%;
  margin-top: -3%;

  h2 {
    font-size: 4rem;
  }

  h4 {
    font-size: 2rem;
  }

  div {
    width: fit-content;
    height: fit-content;
    padding: 5px 25px;
    background-color: #e6d1ab;
    color: #a9151c;
    font-size: 1.5rem;
    border-radius: 14px;
    box-shadow: 2px 1px #e50914,
    4px 2px #c90f18,
    6px 4px #a9151c,
    8px 5px #8f1a20;
    margin: auto;
  }

  div:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 1px #e50914,
    4px 2px #c90f18,
    6px 4px #a9151c,
    8px 5px #8f1a20,
    9px 6px #8f1a20,
    10px 7px #8f1a20;
  }

}


#signUp {
  align-self: flex-start;
  margin-left: 8%;

  h2 {
    font-size: 4rem;
  }

  h4 {
    font-size: 2rem;
  }

  div {
    width: fit-content;
    height: fit-content;
    padding: 5px 25px;
    background-color: #e6d1ab;
    color: #a9151c;
    font-size: 1.5rem;
    border-radius: 14px;
    box-shadow: 2px 1px #e50914,
    4px 2px #c90f18,
    6px 4px #a9151c,
    8px 5px #8f1a20;
    margin: auto;
  }

  div:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 1px #e50914,
    4px 2px #c90f18,
    6px 4px #a9151c,
    8px 5px #8f1a20,
    9px 6px #8f1a20,
    10px 7px #8f1a20;
  }
}

/* Title floating */

.vintage__container {
  align-self: center;
}

.vintage {
  font-size: 16rem;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
}
.vintage__top {
  background: linear-gradient(#e6d1ab, #d8b370);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.vintage__bot {
  text-shadow: 
    2px 1px #e50914,
    4px 2px #c90f18,
    6px 4px #a9151c,
    8px 5px #8f1a20,
    10px 6px #8b1b21,
    12px 7px #861c22,
    14px 8px #781e23,
    16px 9px black,
    18px 10px black,
    20px 11px black,
    22px 12px black,
    24px 13px black;
}






/* Second */
#second {
  width: 100%;
  height: 100vh;
  padding: 0;
  padding-top: 10%;
  margin: 0;
  background-color: #030504;

  h1 {
    color: #e50914;
    font-size: 10rem;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 550px;
    text-align: center;
  }
  #movieContainer {
    opacity: 0;
    position: relative;
    margin: 0 10% 0 15%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .movie {
    width: 250px;
    height: 400px;
  }

}














/* Third section */
#third {
  width: 100%;
  height: 100vh;
  background-color: #030504;
  margin: 0;
  padding: 0;
  padding-top: 25%;
  

  #tvContainer {
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .tv {
    margin: 0 2% 0 2%;
    opacity: .4;
    width: 250px;
    height: 400px;
    transition: 1s ease;
  }

  .tv:hover {
    opacity: 1;
  }

  #tvText {
    color: #e50914;
    font-size: 10rem;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 750px;
    text-align: center;
  }
}


/* fourth section */
#fourth {
  width: 100%;
  height: fit-content;
  background-color: #030504;
  margin: 0;
  padding: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;

  iframe {
    overflow: visible;
    padding: 0;
    margin-top: -10%;
    margin-bottom: -10%;
  }

  .fourthText {
    color: #e50914;
    font-size: 10rem;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

/* fifth section */
#fifth {
  width: 100%;
  height: 100vh;
  background-color: #030504;
  margin: 0;
  padding: 0;
  padding-top: 10%;
  padding-bottom: 10%;
}

#fifthContent {
   display: grid; 
  
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   margin: auto;
   gap: 15px;
   height: 80%;
   width: 80%;
   color: white;

   img {
    width: 250px;
    height: 400px;
   }
}


  
#item-0 {

   background-color: #e6d1ab; 
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 4;
   

   color: #e50914;
   text-align: center;
   margin: auto;
   width: 100%;
   height: 90%;
   font-size: 3.5rem;
   --c: #e50914; /* the color */
  
  color: #0000;
  background: 
    linear-gradient(90deg,#e6d1ab 50%,var(--c) 0) calc(100% - var(--_p,10%))/200%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,10%) no-repeat,
    var(--_c,#0000);
  -webkit-background-clip: text,padding-box,padding-box;
          background-clip: text,padding-box,padding-box;
  transition: 1s ,color .5s,background-color .5s;
}

.hover:hover {
  color: green;
  --_c: #e6d1ab;
  --_p: 90%;
  transition: 0.5s,color 0s .5s,background-color 0s .5s;
}


#item-1 {

   background-color: none; 
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
   margin: auto;
   
}
#item-2 {

   background-color: none; 
   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
   margin: auto;
}
#item-3 {

   background-color: none; 
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   margin: auto;  
}

#item-5 {

   background-color: none; 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 4;

   color: #e50914;
   text-align: center;
   margin: auto;
   font-size: 3rem;
   word-spacing: 20px;
   
}
#item-6 {

   background-color: none; 
   grid-row-start: 1;
   grid-column-start: 5;

   grid-row-end: 4;
   grid-column-end: 6;

   color: #e50914;
   text-align: center;
   margin: auto;
   font-size: 2.5rem;
   
   h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 3px;
    word-spacing: 15px;
   }
   
}
#item-7 {

   background-color: none; 
   grid-row-start: 2;
   grid-column-start: 4;

   grid-row-end: 4;
   grid-column-end: 5;
   padding-top: 8%;
   
}











  
  

 

  


